{%extends "base.html"%}
{%block title%}小組{%endblock%}
{%block nav%}
<li>
	<a href="/">广播</a>
</li>
<li>
	<a href="/people/{{current_user.url_number}}/">个人主页</a>
</li>
<li>
	<a href="/corporation/my_corporations_news/">社团</a>
</li>
<li>
	<a href="/group/my_groups_news/">小组</a>
</li>
<li>
	<a href="/find/">发现</a>
</li>
{%endblock%}
{%block container%}
<div class="container">
	<div class="row-fluid">
		<div class="span8 well">
			<div class="row-fluid">
				{%block leftspan6%}
				{%endblock%}
			</div>
		</div>
		<div class="span4">
			<div class="row-fluid">
				<div class="span1">
					&nbsp;
				</div>
				<div class="span11 well">
					{%block rightspan3%}
					<div class="row-fluid">
						<div class="thumbnail">
							<img src="{{group.logo}}">
							<div id="outer">
								<div id="enter_button">
									
									{%if current_user in group.get_user_active%}
									&nbsp;
									<button class="btn btn-block btn-danger" id="quit">
										退出小组
									</button>
									{%else%}
									&nbsp;
									<button class="btn btn-block btn-success" id="enter">
										加入小组
									</button>
									{%endif%}
								</div>
							</div>
						</div>
					</div>

					<div class="row-fluid">
						<hr>
						<div class="row-fluid">
							<p align="left" style="color: green">
								小组管理员...
							</p>
							<div id="admin_list">
								{%if group.get_user_admin%}
								<ul class="thumbnails row-fluid">
									{%for user in group.get_user_admin%}
									{%if forloop.counter <= 4%}
									<li class="span3">
										<a href="/people/{{user.url_number}}/"><img src="{{user.public_profile.face}}" class="img-polaroid span12"></a>
									</li>
									{%endif%}
									{%endfor%}
								</ul>
								{%if group.get_user_admin.count > 4%}
								<a class="pull-right" href="/people/{{current_user.url_number}}/people/" style="color: green">>更多</a>
								{%endif%}
								{%else%}
								<p>
									无
								</p>
								{%endif%}
							</div>
						</div>
						<hr>
						<div class="row-fluid">
							<p align="left" style="color: green">
								小组成员...
							</p>
							<div>
								{%if group.get_user_not_admin%}
								<ul class="thumbnails">
									{%for user in group.get_user_not_admin%}
									{%if forloop.counter <= 4%}
									<li class="span3">
										<a href="/people/{{user.url_number}}/"> <img src="{{user.public_profile.face}}" class="img-polaroid span12"></a>
									</li>
									{%endif%}
									{%endfor%}
								</ul>
								{%if group.get_user_not_admin.count > 4%}
								<a class="pull-right" href="/people/{{current_user.url_number}}/people/" style="color: green">>更多</a>
								{%endif%}
								{%else%}
								<p>
									无
								</p>
								{%endif%}
							</div>
						</div>
					</div>
				</div>

				{%endblock%}
			</div>
		</div>
	</div>
</div>
{%endblock%}
{%block otherscript%}
<script type="text/javascript" src="{{STATIC_URL}}js/csrf.js"></script>
<script type="text/javascript">
	$().ready(function() {
		$('#quit').live('click', function() {
			$.post("{%url group.views.quitgroup group.url_number%}", function() {
				$('#outer').load(location.href + ' #outer>*');
				$('#topic_outer').load(location.href + ' #topic_outer>*');
				$('#admin_list').load(location.href + ' #admin_list>*');
				$('#member_list').load(location.href + ' #member_list>*');
				$('#reply').load(location.href + ' #reply>*');
				$('#ask_outer').load(location.href + ' #ask_outer>*');
				$('#admin_list').load(location.href + ' #admin_list>*');
				$('#inactive_topic').load(location.href + ' #inactive_topic>*');
			});
		});

		$('#enter').live('click', function() {
			$.post("{%url group.views.entergroup group.url_number%}", function() {
				$('#outer').load(location.href + ' #outer>*');
				$('#topic_outer').load(location.href + ' #topic_outer>*');
				$('#admin_list').load(location.href + ' #admin_list>*');
				$('#member_list').load(location.href + ' #member_list>*');
				$('#reply').load(location.href + ' #reply>*');
				$('#ask_outer').load(location.href + ' #ask_outer>*');
				$('#admin_list').load(location.href + ' #admin_list>*');
				$('#inactive_topic').load(location.href + ' #inactive_topic>*');
			});
		});

		$('#ask_for_admin').live('click', function() {
			$.post("{%url group.views.ask_for_admin group.url_number%}", function() {
				$('#outer').load(location.href + ' #outer>*');
				$('#topic_outer').load(location.href + ' #topic_outer>*');
				$('#admin_list').load(location.href + ' #admin_list>*');
				$('#member_list').load(location.href + ' #member_list>*');
				$('#reply').load(location.href + ' #reply>*');
				$('#ask_outer').load(location.href + ' #ask_outer>*');
				$('#admin_list').load(location.href + ' #admin_list>*');
				$('#inactive_topic').load(location.href + ' #inactive_topic>*');
			});
		});
	}); 
</script>

{%endblock%}