{%extends "base.html"%}
{%block title%}首页{%endblock%}
{%block nav%}
<li>
	<a href="/">广播</a>
</li>
<li>
	<a href="/people/{{current_user.url_number}}/">个人主页</a>
</li>
<li>
	<a href="/corporation/my_corporations_news/">社团</a>
</li>
<li>
	<a href="/group/my_groups_news/">小组</a>
</li>
<li>
	<a href="/find/">发现</a>
</li>
{%endblock%}
{%block container%}
<div class="container">
	<div class="row-fluid">
		<div class="span8 well">
			{%block leftspan6%}
			{%endblock%}
		</div>
		<div class="span4">
			<div class="row-fluid">
				<div class="span1">
					&nbsp;
				</div>
				<div class="span11 well">
					{%block rightspan3%}
					{%endblock%}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{%endblock%}
