{%extends 'accounts/accounts_base.html'%}
{%block leftspan6%}
<div class="row-fluid">
	<h4 style="color: black">我的广播</small></h4>
	<div class="row-fluid">
		<div class="span2">
			<img src="{{current_user.public_profile.face}}" class="img-polaroid">
		</div>
		<form method="post" class="span10 well">
			{% csrf_token %}
			<div class="row-fluid">
				<textarea class="span12" style="resize:none;" name="content"></textarea>
			</div>
			<div class="row-fluid">
				<button class="pull-right btn btn-primary span2" id="post_broadcast">
					发布
				</button>
			</div>
		</form>
	</div>
</div>
<div class="row-fluid" id="broadcast_list">
	
	<h4>友邻广播</h4>
	{%if current_user.allbroadcast%}
	
		{%for broadcast in current_user.allbroadcast reversed%}
		<div class="media">
			<div class="span2">
				<a class="pull-left span8" href="/people/{{broadcast.object.user.url_number}}"><img class="img-polaroid" src="{{broadcast.object.user.public_profile.face}}"></a>
			</div>
			<div class="broadcast right span10">
				<div class="arrow"></div>
				<h3 class="popover-title">{{broadcast.object.user.public_profile.realname}}<span class="muted pull-right"><small>{{broadcast.object.creat_time|timesince}}前</small></span></h3>
				
				<div class="popover-content">{{broadcast.object.description}}</div>
			</div>
		</div>
		{%endfor%}
	
	{%else%}
	<div class="row-fluid">
		<div class="alert fade in span12">
			<button type="button" class="close" data-dismiss="alert">
				×
			</button>
			<p style="color: #ff9400">
				没有广播
			</p>
		</div>
	</div>
	{%endif%}
</div>


{%endblock%}



{%block rightspan3%}


	<div class="row-fluid">
		<h4>&nbsp;</h4>
		<div class="row-fluid">
			<a href="/corporation/creat_corporation/" class="btn btn-primary span6">创建社团</a>
			<a href="/group/creat_group/" class="btn btn-success span6">创建小组</a>
		</div>
		
		<div class="span12">
		</div>
	</div>
		
	<div class="row-fluid">
		<p align="left" style="color: green">
			关注的人...
		</p>
		{%if current_user.get_watchpeople%}
		<ul class="thumbnails">
			{%for wstudent in current_user.get_watchpeople%}
				{%if forloop.counter <= 4%}
			<li class="span3">
				<a href="/people/{{wstudent.url_number}}/"><img src="{{wstudent.public_profile.face}}" class="img-polaroid span12"></a>
			</li>
				{%endif%}
			{%endfor%}
		</ul>
		<ul class="thumbnails">
			{%for wstudent in current_user.get_watchpeople%}
				{%if forloop.counter > 4 and forloop.counter <= 8%}
			<li class="span3">
				<a href="/people/{{wstudent.url_number}}/"><img src="{{wstudent.public_profile.face}}" class="img-polaroid span12"></a>
			</li>
				{%endif%}
			{%endfor%}
		</ul>
		{%if current_user.get_watchpeople > 8%}
		<a class="pull-right" href="/people/{{current_user.url_number}}/people/" style="color: green">>更多</a>
		{%endif%}
		{%else%}
		<p class="alert fade in">
			您还没有关注其他人
		</p>
		{%endif%}
		
	</div>
	<div class="row-fluid">
		<p align="left" style="color: green">
			加入的小队...
		</p>
		{%if current_user.get_group_active%}
		<ul class="thumbnails">
			{%for group in current_user.get_group_active%}
				{%if forloop.counter <= 4%}
			<li class="span3">
				<a href="/group/{{group.url_number}}/"><img src="{{group.logo}}" class="img-polaroid span12"></a>
			</li>
				{%endif%}
			{%endfor%}
		</ul>
		<ul class="thumbnails">
			{%for group in current_user.get_group_active%}
				{%if forloop.counter > 4 and forloop.counter <= 8%}
			<li class="span3">
				<a href="/group/{{group.url_number}}/"><img src="{{group.logo}}" class="img-polaroid span12"></a>
			</li>
				{%endif%}
			{%endfor%}
		</ul>
		{%if current_user.get_group_active.count > 8%}
		<a class="pull-right" href="/people/{{current_user.url_number}}/group/" style="color: green">>更多</a>
		{%endif%}
		{%else%}
		<p class="alert fade in">
			您还没有加入小组
		</p>
		{%endif%}
		
	</div>
	<div class="row-fluid">
		<p align="left" style="color: green">
			关注的社团...
		</p>
		{%if current_user.get_corporation_active%}
		<ul class="thumbnails">
			{%for corporation in current_user.get_corporation_active%}
				{%if forloop.counter <= 4%}
					<li class="span3">
						<a href="/corporation/{{corporation.url_number}}/"><img src="{{corporation.logo}}" class="img-polaroid span12"></a>
					</li>
				{%endif%}
			{%endfor%}
		</ul>
		<ul class="thumbnails">
			{%for corporation in current_user.get_corporation_active%}
				{%if forloop.counter > 4 and forloop.counter <= 8%}
					<li class="span3">
						<a href="/corporation/{{corporation.url_number}}/"><img src="{{corporation.logo}}" class="img-polaroid span12"></a>
					</li>
				{%endif%}
			{%endfor%}
		</ul>
		{%if current_user.get_corporation_active.count > 8%}
		<a class="pull-right" href="/people/{{current_user.url_number}}/corporation/" style="color: green">>更多</a>
		{%endif%}
		{%else%}
		<p class="alert fade in">
			您还没有加入社团
		</p>
		{%endif%}
	</div>
{%endblock%}
{%block otherscript%}

<script type="text/javascript">
$().ready(function(){
	$('#post_broadcast').live('click',function () {
			$('#outer').load(location.href+' #broadcast_list>*');
	});
	
});
</script>
					

{%endblock%}
