{%extends 'accounts/accounts_base.html'%}
{%block leftspan6%}
<h3>我的广播</small></h3>
<hr>
<div class="row">
	<div class="span1">
		<img src="{{current_user.public_profile.face}}">
	</div>
	<form method="post">
		{% csrf_token %}
		<div class="span1">
	    <textarea class="span6" style="resize:none; height: 66px">
	    </textarea>
	    </div>
	    
		<button class="offset6 btn btn-primary " style="padding-left: 20px;padding-right: 20px">
		发布
		</button>
	</form>
</div>
{%if current_user.get_event_list%}
<div class="media">
	{%for event in current_user.get_event_list%}
	<div class="span6 media">
		<hr>
		<a class="pull-left span1" href="/people/{{event.user.url_number}}"> <img class="media-object" src="{{event.user.public_profile.face}}"> </a>
		<div class="media-body">
			<h4 class="media-heading">{{event.description}}</h4>
		</div>
	</div>
	{%endfor%}
</div>
{%else%}
<p>
	没有广播
</p>
{%endif%}

{%endblock%}
{%block rightspan3%}
<div class="row">

	<div class="span3" style="margin-top:75px">
		&nbsp;
		<div class="btn-group">
            <a href="/corporation/creat_coporation/" class="btn btn-primary" style="width:109px">创建社团</a>
            &nbsp;
			<a href="/group/creat_group/" class="btn btn-success" style="width:109px">创建小组</a>
        </div>
        &nbsp;
		<h3 align="center">
			-----关注的人------
		</h3>
		{%if current_user.get_sscard.watched_students%}
		<ul class="thumbnails">
			{%for wstudent in current_user.get_sscard.watched_students%}
			<li class="span1">
				<a class="thumbnail" href="/people/{{wstudent.url_number}}/"> <img src="{{wstudent.public_profile.face}}"> </a>
			</li>
			{%endfor%}
		</ul>
		{%else%}
		<p>
			您还没有关注其他人
		</p>
		{%endif%}
		&nbsp;
		<hr>
		<h3 align="center">
			-----加入的小队------
		</h3>
		{%if current_user.get_sgcard%}
		<ul class="thumbnails">
			{%for sgcard in current_user.get_sgcard%}
			<li class="span1">
				<a class="thumbnail" href="/group/{{sgcard.group.url_number}}/"> <img src="{{sgcard.group.logo}}"> </a>
			</li>
			{%endfor%}
		</ul>
		{%else%}
		<p>
			您还没有加入小组
		</p>
		{%endif%}
		<hr>
		<h3 align="center">
			-----加入的社团------
		</h3>
		{%if current_user.corporation_list%}
		<ul class="thumbnails">
			{%for corporation in current_user.corporation_list%}
			<li class="span1">
				<a class="thumbnail" href="/group/{{corporation.url_number}}/"> <img src="{{MEDIA_URL}}{{corporation.logo}}"> </a>
			</li>
			{%endfor%}
		</ul>
		{%else%}
		<p>
			您还没有加入社团
		</p>
		{%endif%}
	</div>
</div>
{%endblock%}
