{%extends "accounts/people.html"%}
{%block tab%}
<li>
	<a href="../feeds/">动态</a>
</li>
<li>
	<a href="../corporation/">社团</a>
</li>
<li class="active">
	<a href="../group/">小组</a>
</li>
{%endblock%}
{%block content%}
{%if student.get_sgcard%}
<ul class="thumbnails row-fluid">
	{%for sgcard in student.get_sgcard%}
	<li class="span4 row-fluid">
		<div class="span6">
		<a class="pull-left" href="/group/{{sgcard.group.url_number}}/"> <img class="img-polaroid span10" src="{{sgcard.group.logo}}"></a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{sgcard.group.name}}</h4>
			<p>{{sgcard.group.get_user_list.count}}个成员</p>
		</div>
	</li>
	{%endfor%}
</ul>
{%else%}
<h2>他还没有加入小组</h2>
{%endif%}
{%endblock%}
