{%extends "accounts/people.html"%}
{%block tab%}
<li>
	<a href="../feeds/">动态</a>
</li>
<li>
	<a href="../corporation/">社团</a>
</li>
<li class="active">
	<a href="../group/">小组</a>
</li>
{%endblock%}
{%block content%}
{%if student.get_group_active%}
<ul class="thumbnails">
	{%for group in student.get_group_active%}
	<li class="span4 {%cycle 'removemarginleft' '' ''%}">
		<div class="span6">
		<a class="" href="/group/{{group.url_number}}/"> <img class="img-polaroid span10" src="{{group.logo}}"></a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{group.name}}</h4>
			<p>{{group.get_user_active.count}}个成员</p>
		</div>
	</li>
	{%endfor%}
</ul>
{%else%}
<h2>他还没有加入小组</h2>
{%endif%}
{%endblock%}