.face{
	width: 48px;
	height: 48px;
}

.broadcast {
	position:relative;
	z-index: 1010;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box
}
.popover.right {
	margin-left: 10px
}
.broadcast .arrow, .broadcast .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}
.broadcast .arrow {
	border-width: 11px
}
.broadcast .arrow:after {
	border-width: 10px;
	content: ""
}

.broadcast.right .arrow {
	top: 20px;
	left: -11px;
	margin-top: -11px;
	border-right-color: #999;
	border-right-color: rgba(0,0,0,0.25);
	border-left-width: 0
}
.broadcast.right .arrow:after {
	bottom: -10px;
	left: 1px;
	border-right-color: rgb(248, 248, 248);
	border-left-width: 0
}
.row-fluid [class*="span"] .removemarginleft{
	margin-left:0;
}
.well-new {
  	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: white;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 30px 100px rgb(100,100,100);
	-moz-box-shadow: 0px 30px 100px rgb(100,100,100);
	box-shadow: 0px 30px 100px rgb(100,100,100);
}
.right-new {
border-right: 1px solid #ccc;
height: 100%;
padding-right: 10px;
}
.left-new {
border-left: 1px solid #ccc;
height: 100%;
padding-left: 10px;
}
