{%extends "corporation/corporation.html"%}

{%block tab%}
	{%if current_user in corporation.get_user_active%}
		<li>
			<a href="../topics/">社内论坛</a>
		</li>
	{%endif%}
	<li>
		<a href="../activity/">社团活动</a>
	</li>
	<li class="active">
		<a href="../structure/">社团结构</a>
	</li>
{%endblock%}

{%block content%}
{%if corporation.departments%}
	{%for department in corporation.departments%}
		<div class="row-fluid">
			<h4>{{department.name}}</h4>
			<div class="row-fluid">
				{%if department.member%}
					<ul class="span11 offset1">
						{%for user in department.member%}
						<li class="span2 thumbnail">
							<div class="row-fluid">
								<a class="pull-left" href="/people/{{user.url_number}}/"> <img class="img-polaroid span10" src="{{user.public_profile.face}}"></a>
							</div>
							<div class="row-fluid">
								<p align="middle" class="media-heading">{{user.public_profile.realname}}</p>
							</div>
						</li>
						{%endfor%}
					</ul>
				{%else%}
					<div class="alert alert-error">
						<h6>该部门没有成员</h6>
					</div>
				{%endif%}
			</div>
		</div>
	{%endfor%}
{%else%}
<div class="alert alert-error"><h6>该社团还没有创建部门</h6></div>
{%endif%}
{%endblock%}
