{%extends "corporation/corporation.html"%}

{%block topic_or_activity%}
	<a class="pull-right" data-toggle="modal" data-target="#myTopicModal" href="">-发布话题</a>
{%endblock%}

{%block tab%}
	{%if current_user in corporation.get_user_active%}
		<li class="active">
			<a href="../topics/">社内论坛</a>
		</li>
	{%endif%}
	<li>
		<a href="../activity/">社团活动</a>
	</li>
	<li>
		<a href="../structure/">社团结构</a>
	</li>
{%endblock%}

{%block content%}
	{%if current_user in corporation.get_user_active%}
		{%if corporation.get_topic_active%}
		<table class="table table-hover">
			<thead>
				<tr>
					<td>话题</td>
					<td>回应/阅</td>
					<td>最后回应</td>
					<td>作者</td>
				</tr>
			</thead>
			<tbody>
				{%for topic in corporation.get_topic_active%}
				<tr>
					<td><a href="/corporation/{{corporation.url_number}}/topic/{{topic.url_number}}/">{{topic.title}}</a></td>
					<td>{{topic.get_reply.count}}/{{topic.clicks}}</td>
					<td>{{topic.update_time|date:"Y-m-d H:i:s"}}</td>
					<td><a href="/people/{{topic.creator.user.url_number}}/">{{topic.creator.user.public_profile.realname}}</a></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
		{%else%}
		<div class="alert alert-error">
			<h3>没有话题</h3>
		</div>
		{%endif%}
	{%else%}
		<div class="alert alert-error">
			<h3>你无权查看，要看请加入社团</h3>
		</div>
	{%endif%}
{%endblock%}

{%block otherbody%}
<div id="myTopicModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">话题</h3>
	</div>
	<div class="modal-body" style="
	margin-left: 120px;">
		<form class="span3" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-primary" type="submit">
				发布
			</button>
		</form>
	</div>
</div>
{%endblock%}