{%extends "corporation/corporation.html"%}

{%block topic_or_activity%}
	<a class="pull-right" data-toggle="modal" data-target="#myActivityModal" href="">-发布活动</a>
{%endblock%}

{%block tab%}
<li>
	<a href="../structure/">社团结构</a>
</li>
{%if current_user in corporation.get_user_active%}
<li>
	<a href="../topics/">社内论坛</a>
</li>
{%endif%}
<li class="active">
	<a href="../activity/">社团活动</a>
</li>

{%endblock%}

{%block content%}
	{%if corporation.get_activity_active%}
	<div class="media row-fluid">
		{%for activity in corporation.get_activity_active reversed%}
		<div class="media">
			<div class="span2">
				<div class="span8">
					<a class="pull-left" href="/corporation/{{corporation.url_number}}/"><img class="img-polaroid" src="{{corporation.logo}}"></a>
				</div>
			</div>
			<div class="broadcast right span10">
				<div class="arrow"></div>
				<div>
					<h3  class="popover-title" href="/activity/{{activity.url_number}}/">{{activity.name}}
					<span class="muted pull-right"><small>{{activity.creat_time|date:"Y-m-d H:i:s"}}</small></span>
					</h3>
					<div class="popover-content">
						<p>{{broadcast.object.description}}</p>
					</div>
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
	{%else%}
	<div class="alert alert-error">
		<p>还没有发布活动</p>
	</div>
	{%endif%}
{%endblock%}

{%block otherbody%}
<div id="myActivityModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">话题</h3>
	</div>
	<div class="modal-body" style="
	margin-left: 120px;">
		<form class="span3" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-primary" type="submit">
				发布
			</button>
		</form>
	</div>
</div>
{%endblock%}